.logo-container {
    background-image: url("images/farkas_gym_text_below.svg");
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    /*border: 1px solid black;*/
    height: 50px;
    width: 50px;
}

