.intro-container{
    grid-area: intro-container;
    /*border: 1px black solid;*/
    display: grid;
    justify-content: center;
    align-items: center;   
}

.hero-image {
    background-image: url(/images/hero_breast_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 40vh;
    width: 100vw;
}


.hero-photo {
    
    width: 100vw;
}