.benefits {
    grid-area: benefits;
    padding: var(--text-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px black solid;*/
}

/*.benefits h2 {
    padding: var(--text-padding);
}*/

.benefits-list {
    list-style-type: none;
}

.benefit-img {
    grid-area: benefit-img;
    /*border: 1px black solid;*/
    justify-self: right;
}


.benefit-photo {
    max-height: 89vh;
    width: 130px;
    padding: var(--text-padding);
}

