.benefits {
    grid-area: benefits;
    padding: 0 var(--text-padding) var(--text-padding) var(--text-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px black solid;*/
}

/*.benefits h2 {
    padding: var(--text-padding);
}*/

.benefits-list {
    list-style-type: none;
}

.benefit-img {
    grid-area: benefit-img;
    /*border: 1px black solid;*/
    justify-self: right;
}


.benefit-photo {
    max-height: 89vh;
    width: 130px;
    padding: var(--text-padding);
}

/*The below code retains the benefit content always below the menu line:*/

#benefit-id {
    background-color: var(--main-light-color);
    width: 100vw;
    height: 100px;
}

