.benefits {
    grid-area: benefits;
    padding: var(--text-padding);
    /*display: flex;
    justify-content: center;*/
}

.benefit-img {
    grid-area: benefit-img;
    /*border: 1px black solid;*/
    justify-self: right;
}


.benefit-photo {
    max-height: 89vh;
    width: 130px;
    padding: var(--text-padding);
}

