
/*smart phones*/

@media screen and (min-width: 375px) {
    .video {
        height: 38vh;
        width: 100vw;
    }
}

@media screen and (min-width: 414px) {
    .video {
        height: 45vh;
        width: 100vw;
    }
}


@media  screen and (min-width: 568px) {
    .main-page {
        grid-template-columns: 3fr 3fr;
    }

    .hero-image {        
        height: 80vh;
    }
    
    .benefit-photo {
        height: 80vh;
        width: auto;
    }
    
    .specification-photo {
        height: 80vh;
        width: auto;
    }

    .video {
        height: 70vh;
        width: 100vw;
    }
    
    .recommendation-image {
        height: 70vh;
        width: 100%;
    } 

}

@media screen and (min-width: 667px) {    
    body {
        font-size: 1.2rem;
    }

    .main-title {
        font-size: 1.4em;
    }

    .hero-image {
        height: 85vh;
        width: 100vw;
    }
    

}

@media screen and (min-width: 736px) {
    body {
        font-size: 1.4rem;
    }

    .main-title {
        font-size: 1.6em;
    }
}


/*iPad mini and iPad media query*/
@media  screen and (min-width: 768px) {

    .menu-logo-line {
        height: 130px;
        grid-template-columns: 100px calc(98vw - 200px) 100px;
    }

    .logo-container {
        height: 70px;
        width: 70px;
    }


    .main-title {
        font-size: 4rem;
    }
    
    .menu-cont {
        width: 80px;
        height: 80px;
        margin: 15px;
    }


    .line1, .line2, .line3 {		
        position: relative;    
        width: 55px;
        height: 5px;
        margin: 4px 0;
    }


    .menu-titles {
        font-size: 2rem;
        top: 110px;
    }

    #menu_checkbox:checked + label .line1 {
        top: 7x;
        transform-origin: 50.5% 50%;
    }

    #menu_checkbox:checked + label .line3 {
        bottom: 7px;
        transform-origin: 45.5% 50%;
    }

    .benefits, .specifications, .presentation, .recommendation, .footer {
        font-size: 2rem;
    }

    ul {
        padding: 20px;
    }
    
    .hero-image {        
        height: 60vh;
        
    }

}

/*iPhone X media query and notebook 800*600*/

@media screen and (min-width: 800px) {
    .menu-logo-line {
        height: 70px;
    }

    .logo-container {
        height: 50px;
        width: 50px;
    }


    .main-title {
        font-size: 2.5rem;
    }
    
    .menu-cont {
        width: 50px;
        height: 50px;
        margin: 10px 15px 10px 30px;
    }


    .line1, .line2, .line3 {		
        position: relative;    
        width: 30px;
        height: 3px;
        margin: 4px 0;
    }


    .menu-titles {
        font-size: 1.5rem;
        top: 60px;
    }

    .hero-image {        
        height: 85vh;
        
    }

    .video {
        height: 82vh;
        width: 100vw;
    }

    h3 {
        font-size: .9em;
    }

    p {
        font-size: .9em;
    }

    li {
        font-size: .9em;;
    }

    .footer {
        font-size: 0.9em;
    }



}

/*iPad pro media query*/

@media  screen and (min-width: 1024px){
    .menu-logo-line {
        height: 110px;
        grid-template-columns: 100px calc(98vw - 200px) 100px;
    }

    .logo-container {
        height: 90px;
        width: 90px;
    }


    .main-title {
        font-size: 4rem;
    }
    
    .menu-cont {
        width: 80px;
        height: 80px;
        margin: 15px 15px 15px 30px;
    }


    .line1, .line2, .line3 {		
        position: relative;    
        width: 55px;
        height: 5px;
        margin: 4px 0;
    }


    .menu-titles {
        font-size: 2.5rem;
        top: 100px;
    }

    #menu_checkbox:checked + label .line1 {
        top: 7x;
        transform-origin: 50.5% 50%;
    }

    #menu_checkbox:checked + label .line3 {
        bottom: 7px;
        transform-origin: 45.5% 50%;
    }

    .benefits, .specifications, .presentation, .recommendation, .footer {
        font-size: 2rem;
    }

    ul {
        padding: 20px;
    }
    
    .hero-image {        
        height: 100vh;
        
    }

    .video {
        height: 75vh;
        width: 100vw;
    }

    
    
}